.imageNormal {
    justify-content: flex-start;
    margin-top: 5px;
    width: 104px;
    height: 104px;
}

.buyButton {
    display: none;
}

.element {
    background-color: #fff;
    margin-top: 3px;
    padding: 0px;
}

.clearLink {
    padding: 0px;
}

.galleryItem{
    width: 334px;
}

.nameContainer {
    justify-content: center;
}

.containerNormal {
    min-width: 330px;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
