.openIconContainer, :global(.vtex-store-drawer-0-x-openIconContainer){
    padding: 0px;
}

@media screen and (min-width: 1250px) {
    .openIconContainer {
        margin-left: 110px;
        margin-bottom: 15px;
    }
  }